<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regsitration</title>
</head>
<body bgcolor='cyan'>
    <h2>{{ message }}</h2>
    <form action="" method="post">
        {% csrf_token %}
        <input type='text' name="first_name" placeholder="Firstn"><br>
        <input type='text' name="last_name" placeholder="lastn"><br>
        <input type='text' name="username" placeholder="username">{{usererror}}<br>
        <input type='email' name="email" placeholder="email">{{emailerror}}<br>
        <input type='password' name="password1" placeholder="password">{{ passerror }}<br>
        <input type='password' name="password2" placeholder="confirm password"><br>
        <input type="Submit"> <button><a href="/">Home</a></button>

    </form>
</body>
</html